<div class="container">
    <div class="text-partners">
        <h3>INDUSTRY</h3>

        <h2>Our Partners</h2>

        <p>Click here to add your own content and customize the text. This is a great place to tell a story about your company and let your users know a little more about the company's history, the team's background, or any other information you'd like to share. Just click "Edit Text" to get started.</p>
    </div>

    <div class="img-partners">
        <img src="/assets/general_transports.png">
        <img src="/assets/ide_software.png">
        <img src="/assets/imogen_cars.png">
    </div>
</div>