main{
    background-image: url(/assets/carro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

h1{
    text-align: center;
    padding-top: 50px;
    font-size: 68px;
    font-weight: 200;
    word-spacing: 15px;
}

p{
    text-align: center;
    font-size: 26px;
}
