<section class="vision">
    <div class="vision-txt">
        <h3>VISÃO</h3>

        <h2>We’re Changing the <br> Way the World Thinks<br> About Cars</h2>

        <p>I'm a paragraph. Click here to add your own text<br> and edit me. It’s easy. Just click “Edit Text” or<br> double click me to add your own content and make<br> changes to the font. I’m a great place for you to tell<br> a story and let your users know a little more about you.</p>
    </div>

    <div>
        <img class="vision-img" src="assets/car_vision.png">
    </div>
</section>